
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2em;
    color: #363636;
}

#mainContainer {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    border-width: 3px;
	border-style: solid;
    border-color: #363636;
    margin-bottom: 20px;
    background-color: #E8E8E8;
}
@media only screen and (max-width: 1500px) {
    #mainContainer {
        left: 15%;
        width: 70%;
	}
}
@media only screen and (max-width: 500px) {
    #mainContainer {
        top: 5%;
        left: 5%;
        width: 90%;
	}
}

#containerHeading {
    margin:  15px 40px 0px 40px;
    font-size: 55px;
}
@media only screen and (max-width: 500px) {
    #containerHeading {
        font-size: 40px;
    }
}

#containerDescription {
    margin: 25px 20px 0px 20px;
}

#gameText {
    margin: 10px 20px 10px 20px;
}

#gamePopup {
    margin: 0px 20px 30px 20px;
}

.important {
    font-weight: bold;
    font-style: italic;
}

.underline {
    border-bottom: 2px solid #545454;
    display: inline-block;
    line-height: 1.5;
}

.button-containter {
    margin: 0px 0px 10px 0px;
}

.buttons {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.buttons button {
    width: 70%;
    font-size: 20px;
}

#resultsContainer {
    margin: 0px 25px 20px 25px;
    text-align: center;
}

.item {
    padding: 10px; 
}

.explanation {
    margin: 50px 10px 30px 10px;
    text-align: left;
}